


@media all and (min-width: 30em) {
  #index{
    width:100vw;
    height:100vh; 
    background-image : url('../img/seat.png');
    background-size: 100% 100%;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat; 
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  #indexTitle{
    border:3px solid black;
    padding: 2rem 6rem 2rem 6rem;
    transition:.3s;
  }
  .title{
    font-size: var(--title-big-size);
    font-family: var(--main-font);
  }
  .subtitle{
    font-size: var(--subtitle-big-size);
    font-family: var(--main-font);
  }
}



@media all and (max-width: 30em) {
  #index{
    width: 100vw;
    height: 100vh;
    background-image: url('../img/seat.png');
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat; 

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

  .title{
    font-size:var(--title-small-size);
    font-family:var(--main-font);
  }
  .subtitle{
    font-size:var(--subtitle-small-size);
    font-family:var(--main-font);
  }
}
