


#landing{
  width:100vw;
  height:100vh;

  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center

}


#landing_title{
  width:100vw;
  height:100vh;



  background-image: 
    url('../img/engineers.jpg'), 
    url('../img/machine_room.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: 
    50% 50%,
    50% 50%;
  background-attachment: fixed, scroll;
  background-position: 
    0 100%, 
    100% 0;
  


  background-color: rgba(0,0,0,.2);
}

#landing_title{
  font-size:5rem;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}



