


#services{
  width:100vw;
  height:100vh;
  font-family: 'Inconsolata', monospace;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;

  background-image : url('../img/office.jpg');
  background-size:100% 100%;
  background-attachment:fixed;
  background-repeat:no-repeat;

}

.serv{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:rgba(0,0,0,.5);
  transition:.5s;
  min-width:50vw;
  min-height:50vh;
  color:whitesmoke;
}
.serv_name{
  font-size:2rem;
  width:50%;
}
.serv:hover .serv_icon{
}

#services_container{
  padding:10px 15px 10px 15px;
  min-width:85vw;
  height:70vh;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
}
